.game-canvas,
.gamepiece {
  margin: auto;
  display: block;
}

#game {
  /*background: url('../lib/images/Board.png') no-repeat;*/
  background-color: white;
  background-position: bottom;
  z-index: 1;
}

/*#gamepiece {
  background: url('../lib/images/Board.png') no-repeat;
  background-color: transparent;
  background-position: bottom;
  z-index: 999;
}*/
