.game-canvas,
.gamepiece {
  margin: auto;
  display: block;
}

#game {
  background-color: white;
  background-position: bottom;
  z-index: 1;
}


.home-screen {
  background: whitesmoke;
  color: black;
  text-align : center;
  margin: auto;
  display: block;
  opacity: 0.9;
  position: absolute;
  width: 650px;
  top: 43%;
  left: 24.5%;
  font-size: 20px;
}
