.game-canvas,
.gamepiece {
  margin: auto;
  display: block;
}

#game {
  /*background: url('../lib/images/Board.png') no-repeat;*/
  background-color: white;
  background-position: bottom;
  z-index: 1;
}


.home-screen {
  background: whitesmoke;
  color: black;
  text-align : center;
  margin: auto;
  opacity: 0.9;
  width: 650px;
  font-size: 20px;
  z-index: -1;
  margin-top: -938px;
}
